Repository Jam1eL1/6-studyforest-phytoncide-FS, pull requests merged in 2025-04, with the labels that each got.

#112 Feature/habit 습관 체크 기능 구현
  backend/src/modules/habit-modules/habitDone.module.js
  backend/src/modules/habit-modules/habits.module.js
  backend/src/modules/route/habit.module.js
  frontend/src/App.jsx
  frontend/src/api/today-habit/habit.api.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/components/habit-modal/TodayHabitCreate.jsx
  frontend/src/components/habit-modal/TodayHabitCreate.module.css
  frontend/src/components/habits/Habits.jsx
  frontend/src/components/habits/Habits.module.css
  frontend/src/layout/Header.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
Labels: ✨ Feature

#116 fix: 타이머 관련 버그 수정, 그 외 디자인 및 기능 수정
  backend/src/modules/focus/focustPoint.module.js
  backend/src/modules/route/focus.module.js
  frontend/src/App.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusNavbar.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🐛 BugFix, 🎨 Html&Css, 🔨 Refactor, ⚙ Chore, ✏ Frontend

#113 feat: 습관 생성 수정 삭제 기능 구현
  frontend/src/api/today-habit/habit.api.js
  frontend/src/components/habit-modal/TodayHabitCreate.jsx
Labels: 🔥 Backend, ✏ Frontend

#117 fix: 버그 수정, 디자인 수정 했습니다. [1시 Merge타임!]
  backend/src/modules/focus/focustPoint.module.js
  backend/src/modules/route/focus.module.js
  frontend/src/App.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusNavbar.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🐛 BugFix, ⚙ Chore, ✏ Frontend

#115 feature/study -> develop 250401 1시merge
  backend/src/modules/edit-study-modules/studyUpdate.module.js
  backend/src/modules/edit-study-modules/studyVerifyPassword.module.js
  backend/src/modules/route/study.module.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/edit-study-modal/EditStudyModal.css
  frontend/src/components/edit-study-modal/EditStudyModal.jsx
  frontend/src/components/edit-study-modal/EditStudyModalButton.css
  frontend/src/components/edit-study-modal/EditStudyModalButton.jsx
  frontend/src/components/edit-study-modal/EditStudyModalController.jsx
  frontend/src/components/edit-study-modal/EditStudyModalImpl.jsx
  frontend/src/pages/study-detail/StudyDetail.jsx
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.module.css
  frontend/src/pages/study-detail/study-emoji/StudyDetailNav.module.css
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
  frontend/src/server.js
Labels: 🔨 Refactor, ✏ Frontend

#121 fix : 주소 수정 및 css 이미지 사이즈 조절
  frontend/src/components/createStudyInput/Background.jsx
  frontend/src/components/createStudyInput/Background.module.css
  frontend/src/layout/Header.jsx
  frontend/src/pages/study-detail/StudyDetailNav.jsx
Labels: 🎨 Html&Css, 🔨 Refactor, ✏ Frontend

#123 Feature/study delete - 스터디 삭제기능 구현
  backend/src/modules/route/study.module.js
  backend/src/modules/study/studyDelete.module.js
  frontend/src/api/study/deleteStudy.api.js
  frontend/src/api/study/studyDelete.api.js
  frontend/src/components/delete-study-modal/DeleteStudyModal.jsx
  frontend/src/components/delete-study-modal/DeleteStudyModal.module.css
  frontend/src/components/delete-study-modal/DeleteStudyModalButton.jsx
  frontend/src/components/delete-study-modal/DeleteStudyModalButton.module.css
  frontend/src/components/delete-study-modal/DeleteStudyModalController.jsx
  frontend/src/components/edit-study-modal/EditStudyModalButton.css
  frontend/src/pages/study-detail/StudyDetailNav.jsx
Labels: 🔥 Backend, ✏ Frontend

#124 feat: 이모지피커 기능 구현중 (6시머지 PR)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/createStudyInput/Background.jsx
  frontend/src/components/edit-study-modal/EditStudyModal.jsx
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.module.css
Labels: ✨ Feature, ✏ Frontend

#126 feat: 스터디 상세보기 API 생성, 오늘의 집중 다자인 애니메이션 추가
  backend/src/modules/focus/focustPoint.module.js
  backend/src/modules/study/studyGet.module.js
  frontend/src/api/study/studyDetail.api.js
  frontend/src/api/todayFocus/todayFocus.api.js
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/TodayFocusTimerBtn.jsx
Labels: 🎨 Html&Css, 📫 API, 🔥 Backend, ✏ Frontend

#122 feat: 공통 컴포넌트 studynavbar 추가 및 check 기능 보완
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/components/study-navbar/StudyNavbar.jsx
  frontend/src/components/study-navbar/StudyNavbar.module.css
  frontend/src/pages/today-habit/HabitModal.jsx
  frontend/src/pages/today-habit/HabitModal.module.css
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/Habits.module.css
  frontend/src/pages/today-habit/TodayHabit.jsx
  frontend/src/pages/today-habit/TodayHabit.module.css
Labels: 🐛 BugFix, ✨ Feature, 🔨 Refactor

#128 feat: 오늘의 집중 navBar 컴포넌트 적용, 스터디 이름 API 연동완료
  backend/src/modules/study/studyGet.module.js
  frontend/src/api/study/studyDetail.api.js
  frontend/src/components/study-navbar/StudyNavbar.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusNavbar.jsx
  frontend/src/pages/today-focus/TodayFocusPoint.jsx
  frontend/src/pages/today-focus/TodayFocusPoint.module.css
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.module.css
  frontend/src/pages/today-focus/TodayFocusTimerBtn.jsx
  frontend/src/pages/today-focus/TodayFocusTimerBtn.module.css
  frontend/src/pages/today-focus/TodayFocusToast.jsx
  frontend/src/pages/today-focus/TodayFocusToast.module.css
Labels: 🎨 Html&Css, 🔨 Refactor, 📫 API

#129 feat : 기존 레이아웃 구조에서 리액트 라우터의 Outlet을 이용한 레이아웃 구조로 변경 [Frontend]
  frontend/src/App.jsx
  frontend/src/layout/Header.jsx
  frontend/src/layout/Layout.jsx
Labels: 🔨 Refactor, ✏ Frontend

#131 chore : prettier quoteStyle 설정 변경 ' ' -> " " 으로 변경
  frontend/src/App.jsx
  frontend/src/api/axiosInstance.js
  frontend/src/api/home/getStudy.api.js
  frontend/src/layout/Header.jsx
  frontend/src/layout/Layout.jsx
  frontend/src/pages/home/BrowseCardList.jsx
  frontend/src/pages/home/BrowseSection.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/RecentlySection.jsx
  frontend/src/pages/home/SearchBar.jsx
  frontend/src/pages/home/SortDropdown.jsx
  frontend/src/utils/study.js
Labels: ⚙ Chore

#132 feat: 타이머 클릭 시 전체 선택 구현, 하이라이팅 디자인 추가 + 리팩터링
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocusPoint.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.module.css
  frontend/src/pages/today-focus/TodayFocusTimerBtn.jsx
  frontend/src/pages/today-focus/TodayFocusToast.jsx
Labels: 🎨 Html&Css, ✨ Feature, 🔨 Refactor, ✏ Frontend

#134 feat: 모달 habit 수정 시 리렌더링, todayhabit 컴포넌트화
  backend/src/modules/habit-modules/habitDone.module.js
  backend/src/modules/habit-modules/habits.module.js
  frontend/src/api/today-habit/habit.api.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/pages/today-habit/CurrentTime.jsx
  frontend/src/pages/today-habit/CurrentTime.module.css
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/Habits.module.css
  frontend/src/pages/today-habit/TodayHabit.jsx
  frontend/src/pages/today-habit/TodayHabit.module.css
Labels: 🎨 Html&Css, ✨ Feature, 🔨 Refactor

#135 chore: main.jsx에서 StrictMode 삭제 및 개인 API 함수 1차 수정
  backend/src/modules/focus/focustPoint.module.js
  backend/src/modules/route/focus.module.js
  frontend/src/api/study/studyPoint.api.js
  frontend/src/api/todayFocus/todayFocus.api.js
  frontend/src/components/study-navbar/StudyNavbar.jsx
  frontend/src/main.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.module.css
Labels: 🔨 Refactor, ⚙ Chore, 🔥 Backend

#137 feat: 수정폼 DB작업 OK & 스터디상세 이모지 OK
  backend/src/modules/edit-study-modules/studyUpdate.module.js
  backend/src/modules/edit-study-modules/studyVerifyPassword.module.js
  backend/src/modules/emoji/emojis.module.js
  backend/src/modules/route/study.module.js
  frontend/src/components/update-study-input/Background.jsx
  frontend/src/components/update-study-input/Background.module.css
  frontend/src/components/update-study-input/Description.module.css
  frontend/src/components/update-study-input/DescriptionInput.jsx
  frontend/src/components/update-study-input/Input.module.css
  frontend/src/components/update-study-input/NicknameInput.jsx
  frontend/src/components/update-study-input/PasswordCheck.jsx
  frontend/src/components/update-study-input/PasswordInput.jsx
  frontend/src/components/update-study-input/PasswordInput.module.css
  frontend/src/components/update-study-input/StudyNameInput.jsx
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.module.css
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.module.css
Labels: ✨ Feature, 🔨 Refactor, 📫 API, 🔥 Backend, ✏ Frontend

#136 Feature/habit
  backend/package-lock.json
  backend/package.json
  backend/src/modules/habit-modules/habitDone.module.js
  backend/src/modules/habit-modules/habits.module.js
  frontend/src/api/today-habit/habit.api.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
  frontend/src/pages/today-habit/CurrentTime.jsx
  frontend/src/pages/today-habit/CurrentTime.module.css
  frontend/src/pages/today-habit/HabitModal.module.css
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/Habits.module.css
  frontend/src/pages/today-habit/TodayHabit.jsx
  frontend/src/pages/today-habit/TodayHabit.module.css
Labels: 🐛 BugFix, 🎨 Html&Css, 🔨 Refactor

#140 Feature/study 스터디 기능 구현
  backend/src/modules/edit-study-modules/studyUpdate.module.js
  backend/src/modules/edit-study-modules/studyVerifyPassword.module.js
  backend/src/modules/emoji/emojis.module.js
  backend/src/modules/route/study.module.js
  backend/src/modules/study/studyDelete.module.js
  frontend/src/api/study/deleteStudy.api.js
  frontend/src/components/delete-study-modal/DeleteStudyModal.jsx
  frontend/src/components/delete-study-modal/DeleteStudyModal.module.css
  frontend/src/components/delete-study-modal/DeleteStudyModalButton.jsx
  frontend/src/components/delete-study-modal/DeleteStudyModalButton.module.css
  frontend/src/components/delete-study-modal/DeleteStudyModalController.jsx
  frontend/src/components/update-study-input/Background.jsx
  frontend/src/components/update-study-input/Background.module.css
  frontend/src/components/update-study-input/Description.module.css
  frontend/src/components/update-study-input/DescriptionInput.jsx
  frontend/src/components/update-study-input/Input.module.css
  frontend/src/components/update-study-input/NicknameInput.jsx
  frontend/src/components/update-study-input/PasswordCheck.jsx
  frontend/src/components/update-study-input/PasswordInput.jsx
  frontend/src/components/update-study-input/PasswordInput.module.css
  frontend/src/components/update-study-input/StudyNameInput.jsx
  frontend/src/pages/study-detail/StudyContent.module.css
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.module.css
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.module.css
Labels: ✨ Feature

#142 fix: 공통 API 변경완료, App.jsx 라우트 경로 변경완료
  backend/src/App.js
  backend/src/modules/focus/focusPoint.module.js
  backend/src/modules/habit/habitDone.module.js
  backend/src/modules/habit/habits.module.js
  backend/src/modules/index.module.js
  backend/src/modules/route/focus.module.js
  backend/src/modules/route/habit.module.js
  backend/src/modules/route/habits.module.js
  backend/src/modules/route/studies.module.js
  backend/src/modules/route/study.module.js
  backend/src/modules/study/studyGet.module.js
  frontend/src/App.jsx
  frontend/src/api/focus/focusPoint.api.js
  frontend/src/api/study/studyDetail.api.js
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🔨 Refactor, ⚙ Chore, 🔥 Backend

#147 fix: 백엔드 API habit, 프론트엔드 Link 주소 변경
  backend/src/modules/route/habits.module.js
  frontend/src/pages/today-focus/TodayFocus.jsx
Labels: ⚙ Chore, 🔥 Backend, ✏ Frontend

#148 Feature/study 스터디 관련 백엔드
  backend/src/modules/edit-study-modules/studyVerifyPassword.module.js
  backend/src/modules/edit-study-modules/updateFormVerifyPassword.module.js
  backend/src/modules/edit-study-modules/updateStudy.module.js
  backend/src/modules/route/habits.module.js
  backend/src/modules/route/studies.module.js
  backend/src/modules/study/editFormVerifyPassword.module.js
  backend/src/modules/study/studyDelete.module.js
  backend/src/modules/study/studyPatch.module.js
  frontend/src/App.jsx
  frontend/src/api/study/deleteStudy.api.js
  frontend/src/components/delete-study-modal/DeleteStudyModal.jsx
  frontend/src/components/edit-study-modal/EditStudyModal.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
Labels: 🔥 Backend, ✏ Frontend

#146 feat: api 수정 및 스키마 변동
  backend/src/db/prisma/migrations/20250402084318_unique_constraint_habitdone/migration.sql
  backend/src/db/prisma/migrations/20250403014219_add_is_done_in_habit/migration.sql
  backend/src/db/prisma/schema.prisma
  backend/src/modules/habit/habitDone.module.js
  backend/src/modules/habit/habits.module.js
  backend/src/modules/route/habits.module.js
  frontend/src/api/today-habit/habit.api.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
Labels: ✨ Feature, 📫 API

#150 Fix : 작성자명 넓이에 따라 포인트 컨테이너의 UI가 깨지는 문제 수정
  frontend/src/App.jsx
  frontend/src/api/home/getStudy.api.js
  frontend/src/components/home/HomeCard.jsx
  frontend/src/components/home/HomeCard.module.css
Labels: 🔨 Refactor, ✏ Frontend

#156 fix : css 변경 사항 수정
  frontend/src/components/home/HomeCard.module.css
Labels: 🎨 Html&Css

#159 Feature - 스터디 상세화면에 habit 데이터 불러오기
  backend/src/modules/habit/habits.module.js
  frontend/src/api/today-habit/habit.api.js
  frontend/src/pages/study-detail/HabitRecordTable.jsx
  frontend/src/pages/study-detail/StudyDetail.jsx
Labels: 🔥 Backend, ✏ Frontend

#160 feat: 스터디수정 동작 확인 & 이모지 동작 확인
  backend/src/modules/edit-study-modules/updateFormVerifyPassword.module.js
  backend/src/modules/edit-study-modules/updateStudy.module.js
  backend/src/modules/study/editFormVerifyPassword.module.js
  frontend/src/components/update-study-input/Input.module.css
  frontend/src/components/update-study-input/NicknameInput.jsx
  frontend/src/components/update-study-input/PasswordCheck.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.module.css
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
Labels: ✨ Feature, 🔨 Refactor, 🔥 Backend, ✏ Frontend

#157 feat: 타이머 숫자 입력 기능 추가
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: ✨ Feature, ✏ Frontend

#161 refactor : api경로 수정, 오타수정
  backend/src/modules/route/studies.module.js
  backend/src/modules/study/studyPost.module.js
  frontend/src/api/study/studyCreate.api.js
  frontend/src/components/createStudyInput/Background.jsx
  frontend/src/components/createStudyInput/PasswordInput.jsx
  frontend/src/layout/Header.jsx
  frontend/src/pages/study-create/StudyCreate.jsx
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
Labels: 🔨 Refactor

#163 feat: 타이머 숫자 입력 기능 추가
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: ✨ Feature, ✏ Frontend

#162 style: css 수정
  backend/src/modules/habit/habitDone.module.js
  frontend/src/pages/today-habit/CurrentTime.module.css
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/Habits.module.css
  frontend/src/pages/today-habit/TodayHabit.module.css
Labels: 🎨 Html&Css, 🔨 Refactor

#166 refactor : 피그마 디자인 시안과 다른점 피드백 후 수정
  frontend/src/components/home/HomeCard.jsx
  frontend/src/components/home/HomeCard.module.css
  frontend/src/layout/Header.jsx
  frontend/src/layout/Header.module.css
  frontend/src/pages/home/BrowseCardList.module.css
  frontend/src/pages/home/BrowseSection.jsx
  frontend/src/pages/home/BrowseSection.module.css
  frontend/src/pages/home/Home.module.css
  frontend/src/pages/home/RecentlySection.module.css
  frontend/src/pages/home/SortDropdown.module.css
Labels: 🔨 Refactor, ✏ Frontend

#171 feat: 스키마 수정 및 loading 추가
  backend/src/db/prisma/migrations/20250404031007_delete_day_of_week_and_change_type_of_created_at/migration.sql
  backend/src/db/prisma/schema.prisma
  backend/src/modules/habit/habitDone.module.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
Labels: ✨ Feature, 🔥 Backend, ✏ Frontend

#172 Feature/habit
  backend/src/db/prisma/migrations/20250404031007_delete_day_of_week_and_change_type_of_created_at/migration.sql
  backend/src/db/prisma/schema.prisma
  backend/src/modules/habit/habitDone.module.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/pages/today-habit/HabitModal.jsx
  frontend/src/pages/today-habit/HabitModal.module.css
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
Labels: ✨ Feature, 🔥 Backend

#173 fix: 타이머 0분 0초일 때 시작하지 못하도록 변경
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🐛 BugFix

#174 fix: 타이머 0분 0초일 때 시작하지 못하도록 변경
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🐛 BugFix

#177 feat: 전체 페이지 로딩중 디자인
  frontend/src/App.jsx
  frontend/src/App.module.css
Labels: ✨ Feature

#176 Bugfix: 모달 loading 추가
  frontend/src/pages/today-habit/HabitModal.jsx
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
Labels: 🐛 BugFix

#178 Feature - 스터디 상세화면 정보 불러오기 완료, 비밀번호 삭제 토스트 모달 구현
  backend/src/modules/habit/habits.module.js
  frontend/src/components/delete-study-modal/DeleteStudyModal.jsx
  frontend/src/components/delete-study-modal/DeleteStudyModal.module.css
  frontend/src/components/delete-study-modal/DeleteStudyToast.jsx
  frontend/src/components/delete-study-modal/DeleteStudyToast.module.css
  frontend/src/pages/study-detail/HabitRecordTable.jsx
  frontend/src/pages/study-detail/StudyContent.jsx
Labels: 🔥 Backend, ✏ Frontend

#179 Feature/habit
  backend/src/modules/habit/habits.module.js
  frontend/src/pages/today-habit/HabitModal.jsx
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
Labels: 🐛 BugFix, 🔥 Backend

#185 fix: 포인트 기본 점수 변경(0 -> 3point)
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusPoint.module.css
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🔨 Refactor

#183 fix: 반응형 css적용
  frontend/src/pages/today-habit/HabitModal.jsx
  frontend/src/pages/today-habit/HabitModal.module.css
Labels: 🐛 BugFix

#186 fix: StudyNavBar.jsx 홈 버튼 경로 스터디 상세로 수정
  frontend/src/components/study-navbar/StudyNavbar.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🐛 BugFix, ✏ Frontend

#188 fix: StudyNavBar.jsx 홈 버튼 경로 스터디 상세로 수정
  frontend/src/components/study-navbar/StudyNavbar.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusPoint.module.css
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🐛 BugFix, ✏ Frontend

#189 feat: 이모지 css 세부조정 & 수정폼 폰트크기 세부조정
  frontend/src/components/update-study-input/Input.module.css
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.jsx
  frontend/src/pages/study-detail/study-emoji/StudyEmoji.module.css
Labels: ⚙ Chore, ✏ Frontend

#191 스터디 상세화면 비밀번호 검증 모달 & 공유하기 모달 구현
  frontend/src/api/study/verifyPassword.api.js
  frontend/src/api/today-habit/habit.api.js
  frontend/src/components/delete-study-modal/DeleteStudyModal.jsx
  frontend/src/components/delete-study-modal/DeleteStudyModalButton.jsx
  frontend/src/components/delete-study-modal/DeleteStudyModalButton.module.css
  frontend/src/components/delete-study-modal/DeleteStudyModalController.jsx
  frontend/src/components/delete-study-modal/DeleteStudyToast.module.css
  frontend/src/components/password-modal/PasswordModal.jsx
  frontend/src/components/password-modal/PasswordModal.module.css
  frontend/src/components/password-modal/PasswordModalButton.jsx
  frontend/src/components/password-modal/PasswordModalButton.module.css
  frontend/src/components/password-modal/PasswordModalController.js
  frontend/src/pages/study-detail/HabitRecordTable.jsx
  frontend/src/pages/study-detail/HabitRecordTable.module.css
  frontend/src/pages/study-detail/StudyContent.jsx
  frontend/src/pages/study-detail/StudyContent.module.css
  frontend/src/pages/study-detail/StudyDetail.jsx
  frontend/src/pages/study-detail/StudyDetail.module.css
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/StudyDetailNav.module.css
  frontend/src/pages/study-detail/components/ShareModal.jsx
  frontend/src/pages/study-detail/components/ShareModal.module.css
  frontend/src/pages/study-detail/components/TodayFocusButton.jsx
  frontend/src/pages/study-detail/components/TodayFocusButton.module.css
  frontend/src/pages/study-detail/components/TodayHabitButton.jsx
  frontend/src/pages/study-detail/components/TodayHabitButton.module.css
Labels: ✨ Feature, ✏ Frontend

#187 Refactor: Feature/habit check
  backend/src/modules/habit/habitDone.module.js
  frontend/src/api/today-habit/habit.api.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/pages/today-habit/CurrentTime.module.css
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/Habits.module.css
Labels: 🎨 Html&Css, 🔨 Refactor

#195 fix: 오늘의 집중 CSS 수정, 리팩터링
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
Labels: 🐛 BugFix, ⚙ Chore

#196 refactor : css수정 및 비밀번호 확인 아이콘 추가
  frontend/public/images/study-bg/bg1.svg
  frontend/src/components/create-Study-Input/Background.jsx
  frontend/src/components/create-Study-Input/Background.module.css
  frontend/src/components/create-Study-Input/Description.module.css
  frontend/src/components/create-Study-Input/DescriptionInput.jsx
  frontend/src/components/create-Study-Input/Input.module.css
  frontend/src/components/create-Study-Input/NicknameInput.jsx
  frontend/src/components/create-Study-Input/PasswordCheck.jsx
  frontend/src/components/create-Study-Input/PasswordInput.jsx
  frontend/src/components/create-Study-Input/PasswordInput.module.css
  frontend/src/components/create-Study-Input/StudyNameInput.jsx
  frontend/src/components/createStudyInput/PasswordCheck.jsx
  frontend/src/pages/study-create/StudyCreate.jsx
Labels: 🔨 Refactor

#199 style: margin-top 조정
  frontend/src/pages/today-habit/TodayHabit.module.css
Labels: 🎨 Html&Css

#201 fix : import 삭제
  frontend/src/pages/study-create/StudyCreate.jsx
Labels: 🐛 BugFix

#203 refactor: 불필요한 css module 제거
  frontend/src/components/password-modal/PasswordModalButton.jsx
Labels: 🐛 BugFix

#208 refactor : 강사님 코드리뷰 수정사항 반영
  frontend/src/api/axiosInstance.js
  frontend/src/api/home/home.api.js
  frontend/src/layout/Header.jsx
  frontend/src/layout/Header.module.css
  frontend/src/pages/home/AllStudiesSection.jsx
  frontend/src/pages/home/AllStudiesSection.module.css
  frontend/src/pages/home/AllStudiesSectionCardList.jsx
  frontend/src/pages/home/AllStudiesSectionCardList.module.css
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/HomeCard.jsx
  frontend/src/pages/home/HomeCard.module.css
  frontend/src/pages/home/RecentlyViewedSection.jsx
  frontend/src/pages/home/RecentlyViewedSection.module.css
  frontend/src/pages/home/SortDropdown.jsx
  frontend/src/pages/home/study.js
Labels: 🔨 Refactor, ✏ Frontend

#210 fix : prisma schema 스키마 수정
  backend/src/db/prisma/migrations/20250408062034_add_varchar/migration.sql
  backend/src/db/prisma/migrations/20250408063524_add_varchar_fix_habit_is_delete/migration.sql
  backend/src/db/prisma/schema.prisma
  frontend/src/components/create-Study-Input/NicknameInput.jsx
  frontend/src/components/create-Study-Input/background/Background.jsx
  frontend/src/components/create-Study-Input/background/Background.module.css
  frontend/src/components/create-Study-Input/descriptionInput/Description.module.css
  frontend/src/components/create-Study-Input/descriptionInput/DescriptionInput.jsx
  frontend/src/components/create-Study-Input/passwordInput/PasswordInput.jsx
  frontend/src/components/create-Study-Input/passwordInput/PasswordInput.module.css
  frontend/src/pages/study-create/StudyCreate.jsx
Labels: 🐛 BugFix, 🔨 Refactor

#213 chore: 주석 추가 및 isDeleted로 변경
  backend/src/db/prisma/migrations/20250408062034_add_varchar/migration.sql
  backend/src/db/prisma/migrations/20250408063524_add_varchar_fix_habit_is_delete/migration.sql
  backend/src/db/prisma/schema.prisma
  backend/src/modules/habit/habits.module.js
  frontend/src/api/axiosInstance.js
  frontend/src/api/habit/habit.api.js
  frontend/src/api/home/home.api.js
  frontend/src/api/today-habit/habitDone.api.js
  frontend/src/components/createStudyInput/Input.module.css
  frontend/src/components/createStudyInput/NicknameInput.jsx
  frontend/src/components/createStudyInput/PasswordCheck.jsx
  frontend/src/components/createStudyInput/StudyNameInput.jsx
  frontend/src/components/createStudyInput/background/Background.jsx
  frontend/src/components/createStudyInput/background/Background.module.css
  frontend/src/components/createStudyInput/descriptionInput/Description.module.css
  frontend/src/components/createStudyInput/descriptionInput/DescriptionInput.jsx
  frontend/src/components/createStudyInput/passwordInput/PasswordInput.jsx
  frontend/src/components/createStudyInput/passwordInput/PasswordInput.module.css
  frontend/src/layout/Header.jsx
  frontend/src/layout/Header.module.css
  frontend/src/pages/home/AllStudiesSection.jsx
  frontend/src/pages/home/AllStudiesSection.module.css
  frontend/src/pages/home/AllStudiesSectionCardList.jsx
  frontend/src/pages/home/AllStudiesSectionCardList.module.css
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/HomeCard.jsx
  frontend/src/pages/home/HomeCard.module.css
  frontend/src/pages/home/RecentlyViewedSection.jsx
  frontend/src/pages/home/RecentlyViewedSection.module.css
  frontend/src/pages/home/SortDropdown.jsx
  frontend/src/pages/home/study.js
  frontend/src/pages/study-create/StudyCreate.jsx
  frontend/src/pages/study-detail/HabitRecordTable.jsx
  frontend/src/pages/today-habit/HabitModal.jsx
  frontend/src/pages/today-habit/Habits.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
Labels: ⚙ Chore

#209 fix : studyContent의 길이에 따라 카드 UI가 깨지는 문제 발생 -> line-clamp 속성으로 3줄 이상으로 나올 시 그 뒤는 ... 처리로 수정
  frontend/src/pages/home/HomeCard.module.css
Labels: 🐛 BugFix, ✏ Frontend

#215 feat: 수정폼&비번검증모달 CSS 개선
  frontend/src/components/password-modal/PasswordModal.module.css
  frontend/src/components/update-study-input/Background.module.css
  frontend/src/components/update-study-input/Input.module.css
  frontend/src/pages/study-detail/study-edit-form/StudyEditForm.jsx
Labels: 🔨 Refactor, ⚙ Chore, ✏ Frontend

#217 refactor: 코드리뷰 수정
  backend/src/modules/study/studyPost.module.js
  frontend/src/components/createStudyInput/NicknameInput.jsx
  frontend/src/components/createStudyInput/PasswordCheck.jsx
  frontend/src/components/createStudyInput/StudyNameInput.jsx
  frontend/src/pages/study-create/StudyCreate.jsx
Labels: 🔨 Refactor

#218 refactor: 강사님 코드리뷰 일부수정(디렉토리 세분화, clsx 라이브러리 사용)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/components/Point/TodayFocusPoint.jsx
  frontend/src/pages/today-focus/components/Point/TodayFocusPoint.module.css
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.module.css
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimerBtn.jsx
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimerBtn.module.css
  frontend/src/pages/today-focus/components/Toast/TodayFocusToast.jsx
  frontend/src/pages/today-focus/components/Toast/TodayFocusToast.module.css
Labels: 🔨 Refactor

#219 refactor: 강사님 코드리뷰 일부수정(디렉토리 세분화, clsx 라이브러리 사용)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/components/Point/TodayFocusPoint.jsx
  frontend/src/pages/today-focus/components/Point/TodayFocusPoint.module.css
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.module.css
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimerBtn.jsx
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimerBtn.module.css
  frontend/src/pages/today-focus/components/Toast/TodayFocusToast.jsx
  frontend/src/pages/today-focus/components/Toast/TodayFocusToast.module.css
Labels: 🔨 Refactor

#216 스터디 상세 관련 전반적인 코드 리팩토링
  frontend/src/api/study/deleteStudy.api.js
  frontend/src/api/study/studyDetail.api.js
  frontend/src/api/study/verifyPassword.api.js
  frontend/src/pages/home/dateUtils.js
  frontend/src/pages/study-detail/HabitRecordTable.jsx
  frontend/src/pages/study-detail/StudyContent.jsx
  frontend/src/pages/study-detail/StudyContent.module.css
  frontend/src/pages/study-detail/StudyDetailNav.module.css
  frontend/src/pages/study-detail/components/DeleteStudyModalButton.jsx
  frontend/src/pages/study-detail/components/EditStudyModalButton.jsx
  frontend/src/pages/study-detail/components/TodayFocusButton.jsx
  frontend/src/pages/study-detail/components/TodayHabitButton.jsx
  frontend/src/pages/study-detail/components/password-modal/PasswordModal.jsx
  frontend/src/pages/study-detail/components/password-modal/PasswordModal.module.css
  frontend/src/pages/study-detail/components/password-modal/PasswordModalButton.jsx
  frontend/src/pages/study-detail/components/password-modal/PasswordModalController.js
  frontend/src/utils/dateUtils.js
Labels: 🔨 Refactor

#221 fix: 포인트 props 수정
  frontend/src/pages/today-focus/components/Point/TodayFocusPoint.jsx
Labels: 🐛 BugFix

#222 refactor: 강사님 코드리뷰 최종 수정 - context API 적용
  frontend/src/App.jsx
  frontend/src/api/focus/focusPoint.api.js
  frontend/src/contexts/timerState.context.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimerBtn.jsx
  frontend/src/pages/today-focus/components/Toast/TodayFocusToast.jsx
  frontend/src/utils/timerLogic.utils.js
  frontend/vite.config.js
Labels: 🔨 Refactor

#223 feat: 수정폼 닉네임&스터디이름 10글자제한 에러메시지 디자인 적용
  frontend/src/components/createStudyInput/StudyNameInput.jsx
  frontend/src/components/update-study-input/NicknameInput.jsx
  frontend/src/components/update-study-input/StudyNameInput.jsx
Labels: ✨ Feature, ✏ Frontend

#224 feat: 수정폼 닉네임&스터디이름 10글자제한 에러메시지 디자인 적용
  frontend/src/components/createStudyInput/StudyNameInput.jsx
  frontend/src/components/update-study-input/NicknameInput.jsx
  frontend/src/components/update-study-input/StudyNameInput.jsx
Labels: ✨ Feature, ✏ Frontend

#225 Feature/study detail 로딩 바 구현
  frontend/public/font/Pretendard-1.3.9 (1)/LICENSE.txt
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/pretendard-subset.css
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/pretendard.css
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-Black.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-Bold.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-ExtraBold.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-ExtraLight.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-Light.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-Medium.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-Regular.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-SemiBold.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/static/woff/Pretendard-Thin.woff
  frontend/public/font/Pretendard-1.3.9 (1)/web/variable/pretendardvariable.css
  frontend/public/font/Pretendard-1.3.9 (1)/web/variable/woff2/PretendardVariable.woff2
  frontend/src/pages/study-detail/StudyDetail.jsx
  frontend/src/pages/study-detail/StudyDetail.module.css
Labels: ✨ Feature, 🔨 Refactor, ✏ Frontend

#226 feat : card 터치 애니메이션 모바일 환경에 맞춰 따로 설정
  frontend/src/pages/home/HomeCard.module.css
Labels: 🎨 Html&Css, ✏ Frontend

#228 Feature/study 파일명 수정
  frontend/src/components/create-study-input/Input.module.css
  frontend/src/components/create-study-input/NicknameInput.jsx
  frontend/src/components/create-study-input/PasswordCheck.jsx
  frontend/src/components/create-study-input/StudyNameInput.jsx
  frontend/src/components/create-study-input/background/Background.jsx
  frontend/src/components/create-study-input/background/Background.module.css
  frontend/src/components/create-study-input/description-input/Description.module.css
  frontend/src/components/create-study-input/description-input/DescriptionInput.jsx
  frontend/src/components/create-study-input/password-input/PasswordInput.jsx
  frontend/src/components/create-study-input/password-input/PasswordInput.module.css
  frontend/src/pages/study-create/StudyCreate.jsx
Labels: 🐛 BugFix

#229 fix: timerState 초기화 추가
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.jsx
Labels: 🐛 BugFix

#230 refactor: UpdateForm 관련 컴포넌트 Create와 헷갈리지 않게 파일명 전면 수정 & 스터디에딧폼폴더와 스터디이모지…
  frontend/src/App.jsx
  frontend/src/components/update-study-input/UpdateBackground.jsx
  frontend/src/components/update-study-input/UpdateBackground.module.css
  frontend/src/components/update-study-input/UpdateDescription.module.css
  frontend/src/components/update-study-input/UpdateDescriptionInput.jsx
  frontend/src/components/update-study-input/UpdateInput.module.css
  frontend/src/components/update-study-input/UpdateNicknameInput.jsx
  frontend/src/components/update-study-input/UpdatePasswordCheck.jsx
  frontend/src/components/update-study-input/UpdatePasswordInput.jsx
  frontend/src/components/update-study-input/UpdatePasswordInput.module.css
  frontend/src/components/update-study-input/UpdateStudyNameInput.jsx
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/components/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/components/study-edit-form/StudyEditForm.module.css
  frontend/src/pages/study-detail/components/study-emoji/StudyEmoji.jsx
  frontend/src/pages/study-detail/components/study-emoji/StudyEmoji.module.css
Labels: 🔨 Refactor, ⚙ Chore, ✏ Frontend

#235 refactor: UpdateForm 관련 컴포넌트 Create와 헷갈리지 않게 파일명 전면 수정 & 스터디에딧폼폴더와 스터디이모지…
  frontend/src/App.jsx
  frontend/src/components/update-study-input/UpdateBackground.jsx
  frontend/src/components/update-study-input/UpdateBackground.module.css
  frontend/src/components/update-study-input/UpdateDescription.module.css
  frontend/src/components/update-study-input/UpdateDescriptionInput.jsx
  frontend/src/components/update-study-input/UpdateInput.module.css
  frontend/src/components/update-study-input/UpdateNicknameInput.jsx
  frontend/src/components/update-study-input/UpdatePasswordCheck.jsx
  frontend/src/components/update-study-input/UpdatePasswordInput.jsx
  frontend/src/components/update-study-input/UpdatePasswordInput.module.css
  frontend/src/components/update-study-input/UpdateStudyNameInput.jsx
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/components/study-edit-form/StudyEditForm.jsx
  frontend/src/pages/study-detail/components/study-edit-form/StudyEditForm.module.css
  frontend/src/pages/study-detail/components/study-emoji/StudyEmoji.jsx
  frontend/src/pages/study-detail/components/study-emoji/StudyEmoji.module.css
Labels: 🔨 Refactor, ⚙ Chore, ✏ Frontend

#236 fix : 정렬 버튼 초기 값 수정
  frontend/src/pages/home/AllStudiesSection.jsx
Labels: 🔨 Refactor

#237 fix : 정렬 버튼 초기 텍스트 값 미출력 에러 수정
  frontend/src/pages/home/AllStudiesSection.jsx
Labels: 🎨 Html&Css

#239 fix: console.log 삭제
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.jsx
Labels: ⚙ Chore

#241 fix: console.log 삭제
  frontend/src/pages/today-focus/components/Timer/TodayFocusTimer.jsx
Labels: ⚙ Chore
