Repository Jam1eL1/6-studyforest-phytoncide-FS, pull requests merged in 2025-03, with the labels that each got.

#6 [Feat] 기본 페이지 라우팅 및 헤더 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/logo/Property 1=Variant2.svg
  frontend/public/images/logo/logo_icon.svg
  frontend/src/App.jsx
  frontend/src/assets/react.svg
  frontend/src/layout/.gitkeep
  frontend/src/layout/Header.jsx
  frontend/src/layout/Header.module.css
  frontend/src/main.jsx
  frontend/src/pages/.gitkeep
  frontend/src/pages/create-study/CreateStudy.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/study-detail/StudyDetail.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-habit/TodayHabit.jsx
  frontend/src/styles/global.css
Labels: ✨ Feature, ✏ Frontend

#10 [test] Update README.md
  README.md
Labels: ⚙ Chore

#12 chore : 폴더명 수정
  README.md
  frontend/src/pages/study-create/StudyCreate.jsx
Labels: ⚙ Chore

#24 refactor: 폰트 파일 이름변경, 전역 폰트 및 box-sizing 설정
  frontend/public/font/Pretendard-1.3.9/LICENSE.txt
  frontend/public/font/Pretendard-1.3.9/web/static/pretendard-subset.css
  frontend/public/font/Pretendard-1.3.9/web/static/pretendard.css
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Black.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Bold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraBold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraLight.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Light.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Medium.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Regular.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-SemiBold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Thin.woff
  frontend/public/font/Pretendard-1.3.9/web/variable/pretendardvariable.css
  frontend/public/font/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2
  frontend/src/styles/global.css
Labels: 🔨 Refactor, ⚙ Chore

#28 [Feat] 오늘의 집중 화면 및 반응형 레이아웃 구현
  .github/ISSUE_TEMPLATE/bug_report.md
  README.md
  backend/package.json
  backend/src/App.js
  backend/src/db/prisma/client.prisma.js
  backend/src/middlewares/errorHandler.module.js
  backend/src/modules/healthCheck.module.js
  backend/src/modules/index.module.js
  frontend/index.html
  frontend/public/font/Pretendard-1.3.9/LICENSE.txt
  frontend/public/font/Pretendard-1.3.9/web/static/pretendard-subset.css
  frontend/public/font/Pretendard-1.3.9/web/static/pretendard.css
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Black.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Bold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraBold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraLight.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Light.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Medium.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Regular.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-SemiBold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Thin.woff
  frontend/public/font/Pretendard-1.3.9/web/variable/pretendardvariable.css
  frontend/public/font/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2
  frontend/public/images/icon/ic_arrow_right.svg
  frontend/src/App.jsx
  frontend/src/layout/Header.jsx
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/Home.module.css
  frontend/src/pages/study-create/StudyCreate.jsx
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/styles/global.css
  frontend/vite.config.js
Labels: 🎨 Html&Css, ✏ Frontend

#33 feat: 습관조회 화면 구현 [frontend]
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/font/Pretendard-1.3.9/LICENSE.txt
  frontend/public/font/Pretendard-1.3.9/web/static/pretendard-subset.css
  frontend/public/font/Pretendard-1.3.9/web/static/pretendard.css
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Black.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Bold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraBold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-ExtraLight.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Light.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Medium.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Regular.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-SemiBold.woff
  frontend/public/font/Pretendard-1.3.9/web/static/woff/Pretendard-Thin.woff
  frontend/public/font/Pretendard-1.3.9/web/variable/pretendardvariable.css
  frontend/public/font/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2
  frontend/src/App.jsx
  frontend/src/components/Habits.jsx
  frontend/src/components/Habits.module.css
  frontend/src/pages/today-habit/TodayHabit.jsx
  frontend/src/pages/today-habit/TodayHabit.module.css
  frontend/src/styles/global.css
Labels: 🎨 Html&Css, ✏ Frontend

#41 feat: favicon 추가, 타이머 숫자 입력창 수정, start 버튼 클릭 이벤트 추가
  frontend/index.html
  frontend/public/images/icon/ic_favicon_study.svg
  frontend/public/images/icon/ic_timer.svg
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
Labels: 🎨 Html&Css, ✨ Feature, ✏ Frontend

#42 feat: Feature/habit 프론트 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/icon/ic_trash.svg
  frontend/src/components/Habits.jsx
  frontend/src/components/Habits.module.css
  frontend/src/components/TodayHabitCreate.jsx
  frontend/src/components/TodayHabitCreate.module.css
  frontend/src/pages/today-habit/TodayHabit.jsx
  frontend/src/pages/today-habit/TodayHabit.module.css
  frontend/src/styles/global.css
Labels: ✨ Feature, ✏ Frontend

#43 feat: Feature/focus 중간 PR입니다
  frontend/index.html
  frontend/public/images/icon/ic_arrow_right.svg
  frontend/public/images/icon/ic_favicon_study.svg
  frontend/public/images/icon/ic_timer.svg
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
Labels: 🎨 Html&Css, ✨ Feature, ✏ Frontend

#40 feat: habits, habitlist 라우터 추가 및 get method 추가
  backend/.http
  backend/src/modules/habitList.module.js
  backend/src/modules/habits.module.js
  backend/src/modules/index.module.js
Labels: 🔥 Backend

#59 Feature/habit 습관 조회 및 체크 API 구현
  backend/.gitignore
  backend/.http
  backend/package.json
  backend/src/modules/habitList.module.js
  backend/src/modules/habitModules/habits.module.js
  backend/src/modules/habits.module.js
  backend/src/modules/index.module.js
  frontend/src/components/Habits.jsx
  frontend/src/components/habitAPI.js
Labels: 📫 API, 🔥 Backend

#55 Feature/home-getStudyApi 스터디 조회 api 구현
  backend/src/modules/index.module.js
  backend/src/modules/study/getStudy.module.js
Labels: ✨ Feature, 📫 API, 🔥 Backend

#62 feat: 토스트 디자인 구현, 타이머 기능 구현 중
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
Labels: 🎨 Html&Css, ✨ Feature, ✏ Frontend

#65 Feature/study detail table
  frontend/public/images/stickers/sticker_empty.svg
  frontend/src/pages/study-detail/HabitRecordTable.jsx
  frontend/src/pages/study-detail/HabitRecordTable.module.css
  frontend/src/pages/study-detail/StudyContent.jsx
  frontend/src/pages/study-detail/StudyContent.module.css
  frontend/src/pages/study-detail/StudyDetail.jsx
  frontend/src/pages/study-detail/StudyDetail.module.css
  frontend/src/pages/study-detail/StudyDetailNav.jsx
  frontend/src/pages/study-detail/StudyDetailNav.module.css
Labels: ✨ Feature

#81 feat : 스터디 만들기 BE기능 구현
  backend/.http
  backend/package-lock.json
  backend/package.json
  backend/src/modules/route/study.module.js
  backend/src/modules/study/postStudy.module.js
Labels: 📫 API, 🔥 Backend

#84 feat: 타이머 구현 완료, toast 팝업 구현
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
Labels: ✨ Feature, ✏ Frontend

#86 feat : Feature/home api connect 스터디 목록 조회 api 연동
  backend/src/App.js
  backend/src/modules/study/postStudy.module.js
  backend/src/modules/study/studyGet.module.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/home/getStudy.api.js
  frontend/src/pages/home/BrowseCardList.jsx
  frontend/src/pages/home/BrowseCardList.module.css
  frontend/src/pages/home/BrowseSection.jsx
  frontend/src/pages/home/BrowseSection.module.css
  frontend/src/pages/home/Home.jsx
  frontend/src/pages/home/HomeCard.jsx
  frontend/src/pages/home/HomeCard.module.css
  frontend/src/pages/home/RecentlySection.jsx
  frontend/src/pages/home/RecentlySection.module.css
  frontend/src/pages/home/SearchBar.jsx
  frontend/src/pages/home/SearchBar.module.css
  frontend/src/pages/home/SortDropdown.jsx
  frontend/src/pages/home/SortDropdown.module.css
  frontend/src/pages/home/api/home.api.js
  frontend/src/utils/study.js
  frontend/vite.config.js
Labels: ✨ Feature, ✏ Frontend

#89 chore: .gitignore에 .http 추가 및 .http 파일 삭제
  backend/.gitignore
  backend/.http
Labels: 🔨 Refactor, ⚙ Chore

#93 feat:habiddone API추가
  backend/src/modules/habitModules/habitDone.module.js
  backend/src/modules/route/habit.module.js
Labels: 📫 API

#101 [Feat] - study create api 연동
  backend/src/modules/study/postStudy.module.js
  frontend/src/api/study/studyCreate.api.js
  frontend/src/components/createStudyInput/Background.jsx
  frontend/src/components/createStudyInput/NicknameInput.jsx
  frontend/src/components/createStudyInput/PasswordCheck.jsx
  frontend/src/components/createStudyInput/PasswordInput.jsx
  frontend/src/components/createStudyInput/StudyNameInput.jsx
  frontend/src/pages/create-study/CreateStudy.jsx
  frontend/src/pages/study-create/StudyCreate.jsx
Labels: ✨ Feature, ✏ Frontend

#107 feat: 타이머 기능 등등 구현
  backend/src/modules/focusPointModules/focustPoint.module.js
  backend/src/modules/route/focus.module.js
  frontend/src/api/todayFocus/todayFocus.api.js
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusNavbar.jsx
  frontend/src/pages/today-focus/TodayFocusPoint.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/TodayFocusTimerBtn.jsx
  frontend/src/pages/today-focus/TodayFocusToast.jsx
Labels: ✨ Feature, ✏ Frontend

#108 feat: 타이머 기능 등등 구현
  backend/src/modules/focusPointModules/focustPoint.module.js
  backend/src/modules/route/focus.module.js
  frontend/src/api/todayFocus/todayFocus.api.js
  frontend/src/pages/today-focus/TodayFocus.jsx
  frontend/src/pages/today-focus/TodayFocus.module.css
  frontend/src/pages/today-focus/TodayFocusNavbar.jsx
  frontend/src/pages/today-focus/TodayFocusPoint.jsx
  frontend/src/pages/today-focus/TodayFocusTimer.jsx
  frontend/src/pages/today-focus/TodayFocusTimerBtn.jsx
  frontend/src/pages/today-focus/TodayFocusToast.jsx
Labels: ✨ Feature, ✏ Frontend

#109 feat : 스터디 기능 구현
  backend/src/db/prisma/schema.prisma
  backend/src/modules/editStudyModules/studyUpdate.module.js
  backend/src/modules/editStudyModules/studyVerifyPassword.module.js
  backend/src/modules/index.module.js
  backend/src/modules/route/study.module.js
  backend/src/modules/study/postStudy.module.js
  frontend/src/api/study/studyCreate.api.js
  frontend/src/components/createStudyInput/Background.jsx
  frontend/src/components/createStudyInput/NicknameInput.jsx
  frontend/src/components/createStudyInput/PasswordCheck.jsx
  frontend/src/components/createStudyInput/PasswordInput.jsx
  frontend/src/components/createStudyInput/StudyNameInput.jsx
  frontend/src/components/editStudyModal/EditStudyModal.jsx
  frontend/src/pages/create-study/CreateStudy.jsx
  frontend/src/pages/study-create/StudyCreate.jsx
  frontend/src/pages/study-detail/studyEditForm/StudyEditForm.jsx
Labels: 📫 API, 🔥 Backend, ✏ Frontend
